.resume{
    background: #edded1;
    /* height: 100vh;
    width: 100vw; */
}
.main_resume{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 170px 40px;
}
.resume_header{
    display: flex;
    align-items: center;
    gap: 15px;
    justify-content: center;
}
.blue{
    background: blue;
    height: 12px;
    width: 12px;
}

.resume_container{
    /* background: white; */
    width: 700px;
}

.exp_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
}

.exp_header .exp{
    font-size: 20px;
    font-weight: bold;
}

.exp_header .cv{
    border: 1px solid black;
    background: blue;
    color: white;
    padding: 10px 15px;
    border-radius: 30px;
}

.exp_header .cv:hover{
    background: white;
    border: 1px solid blue;
    color: black;
}

.exp_dets{
    display: flex;
    gap: 30px;
    padding: 20px 30px;
    background: white;
    box-shadow: 8px 8px 12px #c2ad9c
}

.dets_left{
    width: 40%;
}

.dets_left h3{
    color: blue;
}

.dets_left p{
    font-size: 13px;
    font-family: 'Courier New', Courier, monospace;
}

.dets_right{
    width: 60%;
}

.dets_right p{
    font-size: 15px;
    font-family: monospace;
    line-height: 1.5;
}
.bold{
    font-weight: bold;
}

.edu{
    padding: 20px 30px;
}

.skillset{
    padding: 20px 30px;
    margin-top: 30px;
}

.data{
    display: flex;
    align-items: center;
    gap: 10px;
}

.list{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 35px;
}

li{
    list-style: none;
}
